__pycache__/
__pypackages__/
!*sample.csv
.next/
.pnp
*.cache
*.code-workspace
*.cover
*.coverage
*/alembic.ini
*.coverage.*
*.dmypy.json
*.DS_Store
*.egg
*.egg-info/
*.eggs/
*.env
*.env*.prod
*.env*.local
*.env*.dev
*.hypothesis/
*.installed.cfg
*.ipynb_checkpoints
*.log
*.manifest
*.mo
*.mypy_cache/
*.nox/
*.pem
*.pnp.js
*.pnpm-debug.log*
*.pot
*.py,cover
*.py[cod]
*.pyre/
*.pytest_cache/
*.Python
*.python-version
*.ropeproject
*.sage.py
*.scrapy
*.so
*.spec
*.spyderproject
*.spyproject
*.tox/
*.tsbuildinfo
*.venv
*.vercel
*.webassets-cache
*$py.class
build/
celerybeat-schedule
celerybeat.pid
coverage
coverage.xml
data/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
hi.js
htmlcov/
instance/
ipython_config.py
lib64/
local_settings.py
logs/
MANIFEST
next-env.d.ts
node_modules
nosetests.xml
npm-debug.log*
out/
package-lock.json
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
site
target/
temp.js
var/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
yarn.lock
tigc_sales_data/
*.pem
scrapes/
alembic.ini